<%= provide(:title, 'HOME') %>

<div class="row" style="text-align: center; background-color: #eeeeee; width: 100%; margin: 0 auto;">
	<%= image_tag('sing1.jpg', style: "width: 100%; height: 360px;") %>
	<h1>埼玉県のことならなんでも聞いてください</h1>
	<h1>羽生市のことしかわかりませんが</h1>
	<div class="new-btn" style="text-align: center; padding-bottom: 10px;">
		<%= link_to '新規登録はこちら', new_user_path, class: 'btn btn-lg btn-primary' %>
	</div>
</div>
